footer {

    p {
        margin: 0;
    }

    // Hay que modificar...
    .padding-between-content {
        padding-bottom: 0px;
    }

    .padding-text-gigames {
        padding-inline-end: 60px;
    }

    .padding-custom {
        padding-block: 20px;
        padding-inline: 5%;
    }

    .logo-footer {
        font-family: Rowdies;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }

    .subtitulo-footer {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }

    .redes-sociales {
        gap: 10px;

        img {
            width: 28px;
        }
    }

    .copyright {
        font-size: 12px;
        text-align: center;
    }

    .subrayado {
        text-decoration: underline;
    }
}