.game-container {
    width: 14rem;
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.25s;

    &:hover{
        transform: scale(1.05);
        border: 2px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 5px white;
        cursor: pointer;

        .carrito-game {
            display: block;
        }
    }
}

.card-title-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 65px;
}

.card-price-custom {
    padding: 4px;
}

.title, .price {
    font-family: Montserrat;
    font-size: 1em;
    margin: 0;
}

.carrito-game {
    display: none;
    position: absolute;
    bottom: 45px;
    right: 10px;

    img {
        width: 32px;
        border: 1px solid white;
        border-radius: 30px;
        background-color: white;
        transition: all 0.25s;

        &:hover {
            box-shadow: 0px 0px 5px white;
            transform: scale(1.1);
        }
    }
}