html, body {
    max-width: 100%;
    min-height: 100vh;
    //elimine el height porque el body ocupaba hasta la mitad por algun motivo
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

nav, main, footer {
    margin: 0;
    padding: 0; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

hr {
    display: block;
    clear: both;
    margin: 0;
    width: 95%;               
    height: 1px;
    border: 0;
    background-color:#d3d3d3;
}