.index {
    .luces {
        z-index: 1;

        .lucesTop {
            @include lucesGeneral;;
        }
        
        .lucesBottom {
            @include lucesGeneral;
            
            img {
                transform: scaleX(-1);
            }
        }
    }

    main {
        padding-top: 40px;
        background: $gradiente-fondo;

        .tachado {
            text-decoration: line-through;
            color: gray;
        }

        .descuento {
            position: absolute;
            bottom: 5%;
            right: 3%;
            padding: 15px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 2rem;
            border: 1px solid white;
            border-radius: 10px;
            color: white;
            background-color: rgba(0, 128, 0, 0.9);
        }

        .section-input {
            margin-top: 70px;
            width: 80vw;
            color: white;
            box-shadow: 0px 5px 5px black;
            transition: all 0.25s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .btnTop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid white;
        border-radius: 10px;
        transition: all 0.25s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            background-color: rgb(130, 130, 130, 0.5);
        }
    }
}