.index {
    .luces {
        .lucesTop {
            @include lucesGeneral;
            top: 20%;
        }
        
        .lucesBottom {
            @include lucesGeneral;
            top: 20vh;
        
            img {
                transform: scaleX(-1);
            }
        }
    }

    main {
        padding-top: 40px;
        background: $gradiente-fondo;
        
        .carousel-slide-custom {
            border-radius: 20px;
        }

        .carousel-slide-custom h2, .carousel-slide-custom p {
            text-shadow: 2px 2px 1px black;
        }

        .border-white   {box-shadow: 0px 0px 20px white; }
        .border-red     {box-shadow: 0px 0px 20px red;   }
        .border-orange  {box-shadow: 0px 0px 20px orange;}
        .border-yellow  {box-shadow: 0px 0px 20px yellow;}
        .border-green   {box-shadow: 0px 0px 20px green; }
        .border-cyan    {box-shadow: 0px 0px 20px cyan;  }
        .border-blue    {box-shadow: 0px 0px 20px blue;  }
        .border-purple  {box-shadow: 0px 0px 20px purple;}

        .tachado {
            text-decoration: line-through;
        }

        .section2 {
            margin-top: 80px;
            color: white;

            p {
                margin: 80px;
                text-align: justify;
            }

            .input-group-custom {
                box-shadow: 0px 5px 5px black;
                transition: all 0.25s;

                .form-control {  
                    box-shadow: none;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}