@media (max-width: 1224px){
    .title {
        font-size: 0.7em;
    }
    .price {
        font-size: 0.7em;
    }
}

@media (max-width: 991px){
    footer {
        .padding-between {
            padding-bottom: 2px;
        }
        .padding-between-divs {
            display: flex;
            
            padding-bottom: 30px;
            
        }
        .padding-custom-newsletter {
            padding-block: 0px 20px;
        }
    }
}

@media (max-width: 991px){
    .title {
        font-size: 1em;
    }
    .price {
        font-size: 1em;
    }
}

@media (max-width: 768px){

    nav .custom-logo h1 {
        font-size: 3em;
    }

    .carousel-width {
        width: 90%;
    }

    .section-input {
        width: 80%;
    }
}