nav {
    border-bottom: 1px solid white;

    li {
        font-family: Montserrat;
    }

    .custom-logo {
        transition: all 0.25s;

        &:hover {
            transform: scale(1.10);
        }

        h1 {
            font-family: Rowdies;
            font-size: 64px;
            color: white;
        }
    }

    .carrito {
        position: absolute;
        top: 35%;
        right: 5%;

        img {
            width: 32px;
            border: 1px solid white;
            border-radius: 30px;
            background-color: white;
            transition: all 0.25s;

            &:hover {
                box-shadow: 0px 0px 5px white;
                transform: scale(1.1);
            }
        }
    }

}