@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lora&family=Merriweather&family=Montserrat:wght@400;500;600&family=Orbitron:wght@400;500;600&family=Pixelify+Sans&family=Poppins:wght@400;500;600&family=Rowdies&family=Rubik+Pixels&family=Russo+One&display=swap");
html, body {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

nav, main, footer {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  display: block;
  clear: both;
  margin: 0;
  width: 95%;
  height: 1px;
  border: 0;
  background-color: #d3d3d3;
}

nav {
  border-bottom: 1px solid gray;
}
nav li {
  font-family: Montserrat;
}
nav .custom-logo {
  transition: all 0.25s;
}
nav .custom-logo:hover {
  transform: scale(1.1);
}
nav .custom-logo h1 {
  font-family: Rowdies;
  font-size: 64px;
  color: white;
}
nav .carrito {
  position: absolute;
  top: 35%;
  right: 5%;
}
nav .carrito img {
  width: 32px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  transition: all 0.25s;
}
nav .carrito img:hover {
  box-shadow: 0px 0px 5px white;
  transform: scale(1.1);
}

footer p {
  margin: 0;
}
footer .padding-custom {
  padding-block: 30px;
  padding-inline: 100px;
}
footer .logo-footer {
  font-family: Rowdies;
  font-size: 24px;
  color: white;
}
footer .subtitulo-footer {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
footer .redes-sociales {
  gap: 10px;
}
footer .redes-sociales img {
  width: 28px;
}
footer .copyright {
  font-size: 12px;
}
footer .subrayado {
  text-decoration: underline;
}

.index .luces .lucesTop {
  position: absolute;
  top: 20%;
}
.index .luces .lucesTop img {
  width: 100%;
  z-index: -1;
}
.index .luces .lucesBottom {
  position: absolute;
  top: 20vh;
}
.index .luces .lucesBottom img {
  width: 100%;
  z-index: -1;
}
.index .luces .lucesBottom img {
  transform: scaleX(-1);
}
.index main {
  padding-top: 40px;
  background: linear-gradient(0deg, rgb(33, 37, 41) 0%, rgb(27, 25, 40) 50%, rgb(33, 37, 41) 100%);
}
.index main .carousel-slide-custom {
  border-radius: 20px;
}
.index main .carousel-slide-custom h2, .index main .carousel-slide-custom p {
  text-shadow: 2px 2px 1px black;
}
.index main .border-white {
  box-shadow: 0px 0px 20px white;
}
.index main .border-red {
  box-shadow: 0px 0px 20px red;
}
.index main .border-orange {
  box-shadow: 0px 0px 20px orange;
}
.index main .border-yellow {
  box-shadow: 0px 0px 20px yellow;
}
.index main .border-green {
  box-shadow: 0px 0px 20px green;
}
.index main .border-cyan {
  box-shadow: 0px 0px 20px cyan;
}
.index main .border-blue {
  box-shadow: 0px 0px 20px blue;
}
.index main .border-purple {
  box-shadow: 0px 0px 20px purple;
}
.index main .tachado {
  text-decoration: line-through;
}
.index main .section2 {
  margin-top: 80px;
  color: white;
}
.index main .section2 p {
  margin: 80px;
  text-align: justify;
}
.index main .section2 .input-group-custom {
  box-shadow: 0px 5px 5px black;
  transition: all 0.25s;
}
.index main .section2 .input-group-custom .form-control {
  box-shadow: none;
}
.index main .section2 .input-group-custom:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
